@page "/planejamento/ano-letivo/formulario/{id:int?}"
@using Domain.Models.Entities
@using Domain.Models.ViewModels
@using PreMatriculasParanoa.Domain.Models.Enumerations;
@using PreMatriculasParanoa.Domain.Queries.Filters;
@using PreMatriculasParanoa.Web.Admin.Services.ApiContracts

@inherits PreMatriculasParanoa.Web.Admin.Shared.CodeBase.Pages.FormPageBase<PlanejamentoAnoLetivo, PlanejamentoAnoLetivoFilter, PlanejamentoAnoLetivoViewModel, IPlanejamentoAnoLetivoApiContract>

<EditForm Model="@Model" OnSubmit="OnSubmit">

    <DataAnnotationsValidator />
    <ObjectGraphDataAnnotationsValidator />

    <MudCard Elevation="0">
        <MudCardHeader>
            <CardHeaderContent>
                <MudText Color="Color.Primary">Informações gerais do planejamento de matrículas</MudText>
            </CardHeaderContent>
        </MudCardHeader>
        <MudCardContent>
            <MudGrid>
                <MudItem md="4" xs="12">
                    <EscolaSelect Label="Escola" @bind-Id="@Model.IdEscola" Dense="true" OnSelected="((e) => Model.Escola = e)" />
                </MudItem>
                <MudItem md="2" xs="12">
                    <MudNumericField Label="Ano Letivo" Placeholder="Ano Letivo"
                    @bind-Value="Model.AnoLetivo"
                                     For="@(() => Model.AnoLetivo)"
                                     Variant="Variant.Outlined"
                                     Margin="Margin.Dense"
                                     MaxLength="4" />
                </MudItem>
                <MudItem md="3" xs="12">
                    <MudDatePicker @bind-Date="Model.DataInicioPlanejamento"
                                   For="@(() => Model.DataInicioPlanejamento)"
                                   Label="Dt. Início"
                                   Variant="Variant.Outlined"
                                   Margin="Margin.Dense"
                                   Editable="true"
                                   Mask="@(new DateMask("dd/MM/yyyy"))"
                                   DateFormat="dd/MM/yyyy" />
                </MudItem>
                <MudItem md="3" xs="12">
                    <MudDatePicker @bind-Date="Model.DataTerminoPlanejamento"
                                   For="@(() => Model.DataTerminoPlanejamento)"
                                   Label="Dt. Término"
                                   Variant="Variant.Outlined"
                                   Margin="Margin.Dense"
                                   Editable="true"
                                   Mask="@(new DateMask("dd/MM/yyyy"))"
                                   DateFormat="dd/MM/yyyy" />
                </MudItem>
            </MudGrid>
        </MudCardContent>
    </MudCard>

    <MudCard Elevation="0">
        <MudCardContent>
            <MudSimpleTable>
                <thead>
                    <tr>
                        <th style="text-align: center">+ sequencial (entrando)</th>
                        <th style="text-align: center">+ central mat. (156)</th>
                        <th style="text-align: center">+ retidos</th>
                        <th style="text-align: center">+ remanejados (entrando)</th>
                        <th style="text-align: center">- aprovados (saindo)</th>
                        <th style="text-align: center">- remanejados (saindo)</th>
                        <th style="text-align: center">capacidade</th>
                        <th style="text-align: center">vagas disponíveis</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td style="text-align: center">@Model.TotalSequencialEntrando</td>
                        <td style="text-align: center">@Model.TotalCentralMatriculasEntrando</td>
                        <td style="text-align: center">@Model.TotalRetidosEntrando</td>
                        <td style="text-align: center">@Model.TotalRemanejamentoEntrando</td>
                        <td style="text-align: center">@Model.TotalAprovadosUltimoAnoSaindo</td>
                        <td style="text-align: center">@Model.TotalRemanejamentoSaindo</td>
                        <td style="text-align: center"><strong>@Model.TotalCapacidade</strong></td>
                        <td style="text-align: center"><strong>@Model.TotalVagasDisponiveis</strong></td>
                    </tr>
                </tbody>
            </MudSimpleTable>
        </MudCardContent>
    </MudCard>

    <MudCard Elevation="0">
        <MudCardHeader>
            <CardHeaderContent>
                <MudText Color="Color.Primary">Séries / Anos</MudText>
            </CardHeaderContent>
            <CardHeaderActions>
                <MudButton Color="Color.Success" Variant="Variant.Outlined" OnClick="(() => AdicionarSerieAno())">
                    <MudIcon Icon="@Icons.Material.Filled.Add"></MudIcon>
                    <MudSpacer></MudSpacer>
                    Adicionar Série/Ano
                </MudButton>
            </CardHeaderActions>
        </MudCardHeader>
        <MudCardContent>
            <MudTable Context="SerieAno" Items="@Model.SeriesAnos"
                      FixedHeader="true" Elevation="0" ReadOnly="false" Bordered="false" Dense="true" Striped="true"
                      Breakpoint="Breakpoint.Sm" Loading="@State.Carregando" LoadingProgressColor="Color.Info"
                      NoRecordsContent='ObterTextoPadraoConteudoVazioMudTable($"Nenhuma série/ano cadastrada")'>
                <HeaderContent>
                    <MudTh Style="text-align:center">Turmas</MudTh>
                    <MudTh>Série/Ano</MudTh>
                    <MudTh>Possíveis aprovados</MudTh>
                    <MudTh>Retidos</MudTh>
                    <MudTh>Central mat. (156)</MudTh>
                    <MudTh>Remanejamento (entrando)</MudTh>
                    <MudTh>Remanejamento (saindo)</MudTh>
                    <MudTh Style="text-align:center">Capacidade</MudTh>
                    <MudTh Style="text-align:center">Vagas</MudTh>
                    <MudTh Style="text-align:center"></MudTh>
                </HeaderContent>
                <RowTemplate>
                    <MudTd DataLabel="Turmas" Style="text-align:center">
                        <MudTooltip Text="Clique para visualizar/ocultar as turmas">
                            <MudButton Color="Color.Primary" Variant="Variant.Outlined" FullWidth="true"
                                       StartIcon="@(SerieAno.ExibirDetalhesTurmas ? Icons.Material.Filled.ArrowDropUp : Icons.Material.Filled.ArrowDropDown)"
                                       OnClick="(() => AoSelecionarBotaoExibirTurmas(SerieAno))">
                                @SerieAno.TotalTurmas
                            </MudButton>
                        </MudTooltip>
                    </MudTd>
                    <MudTd DataLabel="Série/Ano">
                        <SerieAnoEscolarSelect @bind-Value="@SerieAno.EnumSerieAnoEscolar" ModalidadeEducacaoEscola="Model.ModalidadeEducacaoEscola" Dense="true" />
                    </MudTd>
                    <MudTd DataLabel="Possíveis aprovados">
                        <MudNumericField Variant="Variant.Outlined" Margin="Margin.Dense" MaxLength="6"
                        @bind-Value="@SerieAno.SaidaAprovadosAnoAtual" OnBlur="(() => SomarSequencialAprovadosAnoAnterior(SerieAno))"></MudNumericField>
                    </MudTd>
                    <MudTd DataLabel="Retidos">
                        <MudNumericField Variant="Variant.Outlined" Margin="Margin.Dense" MaxLength="6"
                        @bind-Value="@SerieAno.EntradaRetidosSerieAnoAtual"></MudNumericField>
                    </MudTd>
                    <MudTd DataLabel="Central mat. (156)">
                        <MudNumericField Variant="Variant.Outlined" Margin="Margin.Dense" MaxLength="6"
                        @bind-Value="@SerieAno.EntradaCentralMatricula"></MudNumericField>
                    </MudTd>
                    <MudTd DataLabel="Remanejamento (entrando)">
                        <MudNumericField Variant="Variant.Outlined" Margin="Margin.Dense" MaxLength="6"
                        @bind-Value="@SerieAno.EntradaRemanejamento"></MudNumericField>
                    </MudTd>
                    <MudTd DataLabel="Remanejamento (saindo)">
                        <MudNumericField Variant="Variant.Outlined" Margin="Margin.Dense" MaxLength="6"
                        @bind-Value="@SerieAno.SaidaRemanejamento"></MudNumericField>
                    </MudTd>
                    <MudTd DataLabel="Capacidade" Style="text-align:center">
                        <MudText>@SerieAno.TotalCapacidadeFisicaAcordada</MudText>
                    </MudTd>
                    <MudTd DataLabel="Vagas" Style="text-align:center">
                        <MudText>@SerieAno.TotalVagasDisponiveis</MudText>
                    </MudTd>
                    <MudTd Style="text-align:center">
                        <MudTooltip Text="Excluir série/ano">
                            <MudIconButton Color="Color.Error" Icon="@Icons.Material.Filled.Delete"
                                           OnClick="(() => ExcluirSerieAno(SerieAno))"></MudIconButton>
                        </MudTooltip>
                    </MudTd>
                </RowTemplate>
                <ChildRowContent>
                    @if (SerieAno.ExibirDetalhesTurmas)
                    {
                        <MudTr>
                            <td colspan="11">
                                <MudCard>
                                    <MudCardHeader>
                                        <CardHeaderContent>
                                            <MudText Color="Color.Primary">Turmas da Série/Ano: @SerieAno.SerieAno</MudText>
                                        </CardHeaderContent>
                                        <CardHeaderActions>
                                            <MudButton Color="Color.Success" Variant="Variant.Outlined" OnClick="(() => AdicionarTurma(SerieAno))">
                                                <MudIcon Icon="@Icons.Material.Filled.Add"></MudIcon>
                                                <MudSpacer></MudSpacer>
                                                Adicionar Turma
                                            </MudButton>
                                        </CardHeaderActions>
                                    </MudCardHeader>
                                    <MudCardContent Class="pb-10">
                                        <MudTable Context="Turma" Items="@SerieAno.Turmas"
                                                  FixedHeader="true" Elevation="0" ReadOnly="false" Bordered="false" Dense="true"
                                                  Breakpoint="Breakpoint.Sm" Loading="@State.Carregando" LoadingProgressColor="Color.Info"
                                                  NoRecordsContent='ObterTextoPadraoConteudoVazioMudTable($"Nenhuma turma cadastrada para a série/ano {SerieAno.SerieAno}")'>
                                            <HeaderContent>
                                                <MudTh>Turma</MudTh>
                                                <MudTh>Turno</MudTh>
                                                <MudTh>Sala</MudTh>
                                                <MudTh>Tipo atendimento</MudTh>
                                                <MudTh>Metragem</MudTh>
                                                <MudTh>Capacidade</MudTh>
                                                <MudTh>Capacidade acordada</MudTh>
                                                <MudTh></MudTh>
                                            </HeaderContent>
                                            <RowTemplate>
                                                <MudTd DataLabel="Turma">
                                                    <MudTextField Variant="Variant.Outlined" Margin="Margin.Dense" MaxLength="1"
                                                    @bind-Value="@Turma.SiglaTurma"></MudTextField>
                                                </MudTd>
                                                <MudTd DataLabel="Turno">
                                                    <TurnoPeriodoSelect @bind-Value="@Turma.TurnoPeriodo" Dense="true" />
                                                </MudTd>
                                                <MudTd DataLabel="Sala">
                                                    <SalaSelect @bind-Id="@Turma.IdSala" IdEscola="@Model.IdEscola" Dense="true" OnSelected="(s => ObterSalaSelecionada(s, Turma))" />
                                                </MudTd>
                                                <MudTd DataLabel="Tipo atendimento">
                                                    <TipoAtendimentoSelect @bind-Value="@Turma.TipoAtendimento" Dense="true" />
                                                </MudTd>
                                                <MudTd DataLabel="Metragem">
                                                    <MudText>@Turma.MetragemSala</MudText>
                                                </MudTd>
                                                <MudTd DataLabel="Capacidade">
                                                    <MudText>@Turma.CapacidadeFisicaPadraoSala</MudText>
                                                </MudTd>
                                                <MudTd DataLabel="Capacidade acordada">
                                                    <MudNumericField T="decimal" Format="N2" Variant="Variant.Outlined" Margin="Margin.Dense" MaxLength="8"
                                                    @bind-Value="@Turma.CapacidadeFisicaAcordada"></MudNumericField>
                                                </MudTd>
                                                <MudTd Style="text-align:center">
                                                    <MudIconButton Title="Excluir turma" Color="Color.Error" Icon="@Icons.Material.Filled.Delete"
                                                                   OnClick="(() => ExcluirTurma(SerieAno, Turma))"></MudIconButton>
                                                </MudTd>
                                            </RowTemplate>
                                        </MudTable>
                                    </MudCardContent>
                                </MudCard>
                            </td>
                        </MudTr>
                    }
                </ChildRowContent>
            </MudTable>
        </MudCardContent>
    </MudCard>

    <div style="position: fixed; bottom: 30px; right: 30px;">
        <MudTooltip Text="Cancelar" Placement="Placement.Top">
            <MudFab StartIcon="@Icons.Material.Filled.Close" Color="Color.Default" Size="Size.Small"
                    OnClick="@(() => OpenRoute(BackRoute))"
                    DisableElevation="true" />
        </MudTooltip>
        <MudTooltip Text="Salvar" Placement="Placement.Top">
            <MudFab StartIcon="@Icons.Material.Filled.Save" Color="Color.Success" Size="Size.Large" ButtonType="ButtonType.Submit" />
        </MudTooltip>
    </div>

</EditForm>