@using PreMatriculasParanoa.Domain.Models.ViewModels;

@inherits PreMatriculasParanoa.Web.Admin.Shared.CodeBase.Pages.PageBase

<MudSimpleTable Elevation="0" Striped="true">
    <thead>
        <tr>
            <th></th>
            @foreach (var escolaDestino in Model.EscolasDestino)
            {
                var totalVagas = (Model.MatriculasSequenciais.FirstOrDefault(m => m.IdEscolaDestino == escolaDestino.Id)?.TotalVagasDisponiveis ?? 0);
                var vagasPreenchidas = Model.MatriculasSequenciais.Where(m => m.IdEscolaDestino == escolaDestino.Id).Sum(s => s.TotalMatriculas);
                var vagasDisponiveis = totalVagas - vagasPreenchidas;

                <th style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">
                    <MudTooltip Text="@escolaDestino.Nome">
                        @escolaDestino.Nome
                    </MudTooltip>
                    <MudDivider />
                    <MudText Style="font-size: 8pt;">
                        TOTAL DE VAGAS:
                        <MudChip Variant="Variant.Text" Size="Size.Small" Color="Color.Primary">
                            @totalVagas
                        </MudChip>
                        &nbsp;&nbsp; PREENCHIDAS:
                        <MudTooltip Text="Vagas preenchidas">
                            <MudChip Variant="Variant.Text" Size="Size.Small" Color="@(vagasDisponiveis > 0 ? Color.Success : Color.Error)">
                                @vagasPreenchidas
                            </MudChip>
                        </MudTooltip>
                        &nbsp;&nbsp; DISPONÍVEIS:
                        <MudTooltip Text="Vagas disponíveis">
                            <MudChip Variant="Variant.Text" Size="Size.Small" Color="@(vagasDisponiveis > 0 ? Color.Success : Color.Error)">
                                @vagasDisponiveis
                            </MudChip>
                        </MudTooltip>
                    </MudText>
                </th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var escolaOrigem in Model.EscolasOrigem)
        {
            <tr>
                <td style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap; text-align: right;">
                    <MudTooltip Text="@escolaOrigem.Nome">
                        @escolaOrigem.Nome
                    </MudTooltip>
                </td>
                @foreach (var escolaDestino in Model.EscolasDestino)
                {
                    var matriculaSequencial = Model.MatriculasSequenciais
                    .First(m => m.IdEscolaOrigem == escolaOrigem.Id && m.IdEscolaDestino == escolaDestino.Id);

                    <td style="text-align: center">
                        <MudNumericField Variant="Variant.Outlined" Margin="Margin.Dense" MaxLength="2" @bind-Value="@matriculaSequencial.TotalMatriculas"
                                         OnInternalInputChanged="(() => AtualizarMatriculaSequencial(matriculaSequencial))">
                        </MudNumericField>
                    </td>
                }
            </tr>
        }
    </tbody>
</MudSimpleTable>

@code {
    [Inject] protected IPlanejamentoMatriculaSequencialApiContract ApiService { get; set; }

    [Parameter] public PlanejamentoMatriculaSequencialAgrupadoViewModel Model { get; set; }
    [Parameter] public EventCallback<PlanejamentoMatriculaSequencialAgrupadoViewModel> ModelChanged { get; set; }

    protected async Task AtualizarMatriculaSequencial(PlanejamentoMatriculaSequencialViewModel matriculaSequencial)
    {
        await Task.Run(() =>
        {
            Model.MatriculasSequenciais.First(m => m.IdEscolaOrigem == matriculaSequencial.IdEscolaOrigem
                && m.IdEscolaDestino == matriculaSequencial.IdEscolaDestino).TotalMatriculas = matriculaSequencial.TotalMatriculas;
        });
    }
}
